<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.decentkz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyShopping"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.diplomkz.decentkz.MainActivity2"
            android:exported="false" />

        <activity
            android:name="com.diplomkz.decentkz.SearchFiltersActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.Admin.CustomersOrders"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.ProductDetailsActivity"
            android:exported="true" />
        <activity android:name="com.diplomkz.decentkz.Admin.ViewAllProductsActivity" />
        <activity android:name="com.diplomkz.decentkz.Admin.NewProductActivity" />
        <activity
            android:name="com.diplomkz.decentkz.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyShopping.NoActionBar" />
        <activity
            android:name="com.diplomkz.decentkz.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.SignupUserActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.CartActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.Admin.AdminHome"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.Admin.AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.EventLocationActivity"
            android:exported="true" />
        <activity
            android:name="com.diplomkz.decentkz.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDNAcz60uD06ms4iq1lHv77BDtJJ41ECYs" />
    </application>

</manifest>